<nav class="sticky topnav" id="Topnav">
  <a href="#home">HOME</a>
  <a href="#classes">CLASES</a>
  <a href="#schedule">SCHEDULE</a>
  <a href="#feedback">FEEDBACK</a>
</nav>
<section class="content" id="home">
  <app-home></app-home>
</section>
<section class="content" id="classes">
  <app-classes></app-classes>
</section>
<br>
<br>
<br>
<br>
<br>
<section id="schedule">

  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, illo doloremque suscipit animi mollitia
    accusantium. A tempore deleniti exercitationem autem enim voluptates provident veritatis repudiandae. Dignissimos
    at beatae illum ab.</h1>

</section>
<br>
<br>
<br>
<br>
<br>
<section id="feedback">

  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, illo doloremque suscipit animi mollitia
    accusantium. A tempore deleniti exercitationem autem enim voluptates provident veritatis repudiandae. Dignissimos
    at beatae illum ab.</h1>

</section>