@font-face {
    font-family: FjallaOne;
    src: url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap') format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap') format("truetype");
}