<div class="content__widgets">
  <div class="content--center">
    <div class="widget">
      <i class="fas fa-dumbbell img__widget" alt="Dumbbell Icon"></i>
      <div class="widget__title">ENTHUSIASTIC TRAINER</div>
      <div class="widget__desc">Pellentesque habitat morbi tristique senectus et netus et malesuada fames ac
        turpis egestas.</div>
    </div>
    <div class="widget">
      <i class="fas fa-bicycle img__widget" alt="Bicycle Icon"></i>
      <div class="widget__title">ENTHUSIASTIC TRAINER</div>
      <div class="widget__desc">Pellentesque habitat morbi tristique senectus et netus et malesuada fames ac
        turpis egestas.</div>
    </div>
    <div class="widget">
      <i class="fas fa-heartbeat img__widget" alt="Heartbeat Icon"></i>
      <div class="widget__title">ENTHUSIASTIC TRAINER</div>
      <div class="widget__desc">Pellentesque habitat morbi tristique senectus et netus et malesuada fames ac
        turpis egestas.</div>
    </div>
    <div class="widget">
      <i class="fas fa-running img__widget" alt="Running Icon"></i>
      <div class="widget__title">ENTHUSIASTIC TRAINER</div>
      <div class="widget__desc">Pellentesque habitat morbi tristique senectus et netus et malesuada fames ac
        turpis egestas.</div>
    </div>
  </div>
</div>