<div class="content__header">
  <div class="header-text--orange">DISCOVER</div>
  <div class="header-text--black">OUR CLASSES</div>
</div>
<div class="content-orderby">
  <label class="header-text--orange" for="select-orderby">BY&nbsp;</label>
  <select class="header-text--orange" name="orderby" ng-model="data.singleSelect" id="select-orderby">
    <option value="0">PRICE</option>
    <option value="1">RATING</option>
    <option value="2">DATE</option>
  </select>
</div>
<div class="content-targets">

</div>